body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightblue;    
}

#head {
    padding: 2em;
    margin: 0;
}



#contentPage {
    position: absolute;
    top: 200px;
    left: 0;
    width: 80%;
    height: 80%;
    /*display: block;*/
    background-color: lightgreen;
    transform: translate(0, 0);
    transition: transform 1s;
}

.toggle {
    position: absolute;
    top: 0;
    right: -100px;
    width: 100px;
    height: 100px;
    display: block;
    background-color: lightgreen;

}

